@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}


.btn {
    position: absolute;
    left: 84px;
    right: 0%;
    top: 40px;
    bottom: 0%;
    width: 31.09px;
    height: 48px;

}

.DivPai {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.mb-3 {
    position: absolute;
    width: 680px;
    height: 48px;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;

}





.imgRet {
    height: 58px;
    width: 336px;
    left: 0px;
    top: 20px;
    border-radius: nullpx;


}

.alert {
    position: absolute;
    top: 252px;
}
h1{
    font-size: 12px;
    color: #495057;
   
}
.btns{
    position: relative;
    top: 272px;
}